@use '../util/'as *;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

// font-family
$font-outfit: 'Outfit',
sans-serif;

.card {
    font-family: $font-outfit;

    .card-h1 {
        font-weight: 600;
        font-size: 25px;
        color: white;
        &:hover{
            color: $cyan;
            cursor: pointer;
        }
    }

    .card-p{
        font-weight: 300;
        font-size: 20.5px;
        color: $softBlue;
    }

    .card-info {
        .card-info-bitcoin{
            &, p{
                font-weight: 600;
                font-size: 18px;
                color: $cyan;
            }
        }
        .card-info-time{
            font-weight: 300;
            color: $softBlue;
        }
    }
}